<!-- header-start -->
<!-- <header> -->
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a [routerLink]="['/home']">
                                    <img src="http://menahairdesign.com/editor_upload/61_logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a [routerLink]="['/about']">About</a></li>
                                    <li><a [routerLink]="['/service']">service</a></li>
                                    <li><a  [routerLink]="['/product']">products</a>
                                    </li>
                                     
                                    <li><a [routerLink]="['/contact']">Contact</a></li>
                                    <li><a  [routerLink]="['/gallery']">Gallery</a></li>
                                    <li><a  [routerLink]="['/specials']">Specials</a></li>   <li><a href="our_team.html">Team</a></li>   
                                    <li><a  [routerLink]="['/testimonials']">Testimonials</a></li>             
                                    <li><a  [routerLink]="['/location']">Location</a></li>          </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="book_room">
                            <div class="book_btn d-none d-lg-block">
                                <a class="popup-with-form" [routerLink]="['/appointment']">Make an Appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </header> -->
<!-- header-end -->