<!-- header-start -->
<!-- <header> -->
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area sticky">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a [routerLink]="['/home']">
                                    <img src="http://menahairdesign.com/editor_upload/61_logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a [routerLink]="['/about']">About</a></li>
                                    <!-- <li><a [routerLink]="['/service']">service</a></li> -->
                                    <li><a >services<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a [routerLink]="['/service']">hair color</a></li>
                                            <li><a [routerLink]="['/service']">hair style</a></li>
                                            <li><a [routerLink]="['/service']">hair cut</a></li>
                                            <li><a [routerLink]="['/service']">weave</a></li>
                                            <li><a [routerLink]="['/service']">keratin treatment</a></li>
                                            <li><a [routerLink]="['/service']">dandruff</a></li>
                                            <li><a [routerLink]="['/service']">treatment</a></li>
                                            <li><a [routerLink]="['/service']">hot oil</a></li>
                                            <li><a [routerLink]="['/service']">tough-up</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li><a  [routerLink]="['/product']">products</a>
                                    </li> -->
                                    <li >
                                        <a>products<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li ><a [routerLink]='["/product"]'>aveda</a></li>
                                            <li ><a  [routerLink]='["/product"]'>wella</a></li>
                                            <li ><a  [routerLink]='["/product"]'>SEBASTIAN</a></li>
                                            <li ><a  [routerLink]='["/product"]'>NIOXIN</a></li>

                                        </ul>
                                    </li>
                                     
                                    <!-- <li><a [routerLink]="['/contact']">Contact</a></li> -->
                                    <li><a  [routerLink]="['/gallery']">Gallery</a></li>
                                    <li><a  [routerLink]="['/specials']">Specials</a></li>   
                                    <li><a >Team<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a [routerLink]="['/our-team', 'Mettenson']">Mettenson</a></li>
                                            <li><a [routerLink]="['/our-team', 'Country_Club_Hillss']">Country Club Hillss</a></li>
                                            <!-- <li><a [routerLink]="['/our-team']">hillss</a></li> -->
                                            <li><a [routerLink]="['/our-team','Lansing']">Lansing</a></li>
                                            <li><a [routerLink]="['/our-team','95th_St_(Chicago)']">95th_St.(Chicago)</a></li>
                                            <li><a [routerLink]="['/our-team', 'Merrillville']">Merrillville</a></li>
                                            <li><a [routerLink]="['/our-team', 'Aurora']">Aurora</a></li>
                                            <li><a [routerLink]="['/our-team', '35th_St_(Chicago)']">35th St.(Chicago)</a></li>
                                            <li><a [routerLink]="['/our-team', 'Marshfield_Ave(Chicago)']">Marshfield_Ave(Chicago)</a></li>
                                            <li><a [routerLink]="['/our-team', 'Forest_Park']">Forest_Park</a></li>
                                            <!-- <li><a [routerLink]="['/our-team']">forest park</a></li> -->
                                        </ul></li>   
                                    <li><a  [routerLink]="['/testimonials']">Testimonials</a></li>             
                                    <li><a  [routerLink]="['/location']">Location</a></li>          </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="book_room">
                            <div class="book_btn d-none d-lg-block">
                                <a class="popup-with-form" href="http://3.20.227.250:3535/" target="_blank" rel="noopener">Make an Appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </header> -->
<!-- header-end -->
<app-book-appointment #bookAppointment></app-book-appointment>