
    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title3 padding_plus text-center mb-90">
                        <h3>services</h3>
                    </div>
                </div>
            </div>
            <div class="white_bg_pos">
                    <div class="row">
                            <div class="col-xl-6">
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/4_sample_128A6720.jpg" alt="">
                                        </div>
                                        <span>Hair Color</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/19_sample_111.jpg" alt="">
                                        </div>
                                        <span>Hair Style</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/6_sample_hair_styling.JPG" alt="">
                                        </div>
                                        <span>Hair Cut</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/27_sample_weavv.jpg" alt="">
                                        </div>
                                        <span>Weave</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/30_sample_keratintreatment.jpg" alt="">
                                        </div>
                                        <span>Keratin Treatment</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/32_sample_2017_photos_(8).jpg" alt="">
                                        </div>
                                        <span>Dandruff treatment</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/41_sample_Hot-oil.jpg" alt="">
                                        </div>
                                        <span>Hot Oil</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                                <div class="single_service d-flex justify-content-between align-items-center">
                                    <div class="service_inner d-flex align-items-center">
                                        <div class="thumb">
                                                <img src="http://menahairdesign.com/category_image/42_sample_Mena_s_TV-09.jpg" alt="">
                                        </div>
                                        <span>Tough-up</span>
                                    </div>
                                    <a href=""><p>More</p></a>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                    <div class="book_btn text-center">
                                        <a class="boxed-btn3 popup-with-form" href="#test-form">Make an Appointment</a>
                                    </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->
