<div>
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Team</h3>
    </div>
    <!-- service_area_start -->
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
				<h3>Our Team</h3>
				<div class="row gallery-item">
					<div class="col-md-3"  *ngFor= "let member of members">
						<!-- {{team | json}} -->
						<a [href]="member['url']" class="img-pop-up">
							<div class="single-gallery-image" [ngStyle]="{'background-image': 'url(' +member['url']+ ')'}"></div>
						</a>
						<!-- <div [innerHTML]='teamM'></div> -->
						<p style="text-align: center;">{{member.name}}</p>
                        <!-- <p style="text-align: center;">Ayman</p> -->
					</div>
					
				</div>
			</div>
        </div>
    </div>
    <!-- service_area_end -->

</div>