<div>
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Gallery</h3>
    </div>
    <!-- service_area_start -->
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
				<h3>Image Gallery</h3>
				<div class="row gallery-item">
					<div class="col-md-3">
						<a href="../../assets/img/gallery/116_dthumb_Mena_s_TV-09.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/116_dthumb_Mena_s_TV-09.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/121_dthumb_IMG_8080.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/121_dthumb_IMG_8080.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/124_dthumb_128A5964.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/124_dthumb_128A5964.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/123_dthumb_128ffA6749.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/123_dthumb_128ffA6749.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/125_dthumb_128A6124.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/125_dthumb_128A6124.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/126_dthumb_128A6704.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/126_dthumb_128A6704.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/127_dthumb_128A6730.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/127_dthumb_128A6730.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/130_dthumb_IMG_8095.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/130_dthumb_IMG_8095.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-3">
						<a href="../../assets/img/gallery/116_dthumb_Mena_s_TV-09.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/116_dthumb_Mena_s_TV-09.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/121_dthumb_IMG_8080.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/121_dthumb_IMG_8080.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/124_dthumb_128A5964.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/124_dthumb_128A5964.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/123_dthumb_128ffA6749.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/123_dthumb_128ffA6749.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/125_dthumb_128A6124.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/125_dthumb_128A6124.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/126_dthumb_128A6704.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/126_dthumb_128A6704.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/127_dthumb_128A6730.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/127_dthumb_128A6730.jpg);"></div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="../../assets/img/gallery/130_dthumb_IMG_8095.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(../../assets/img/gallery/130_dthumb_IMG_8095.jpg);"></div>
						</a>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- service_area_end -->
</div>>