<div>
       <!-- bradcam_area_start -->
   <div class="bradcam_area breadcam_bg overlay2">
    <h3>locations</h3>
</div>
<!-- bradcam_area_end -->

<!-- ================ contact section start ================= -->
<!-- <section class="contact-section"> -->
<div class="container">
    <ul class="nav nav-tabs">
        <li   *ngFor="let tab of tabData" [ngClass]="{'active':tab.id === dataConfig.id }" ><a data-toggle="tab" (click) = tabChange(tab) aria-selected="true" >{{tab.name}}</a></li>
       
      </ul>
      <div class="tab-content">
      <div id="lansing" role="tabpanel" style="text-align: center;" class="tab-pane active">
          <h3>Mena s Hair Design</h3><br>
          <p>Address:
            {{dataConfig.address}} <br>
            Phone: {{dataConfig.phone}}<br>
            Email: {{dataConfig.email}}<br>
            Website: {{dataConfig.web}}<br>
            Fax: {{dataConfig.fax}}
        </p>
      
        <h3>Hours of Operation</h3><br>
        <p>{{dataConfig.time    }}</p>
    </div>
 
</div>
<agm-map [latitude]="lat" [longitude]="lng"></agm-map>
  
</div>
<!-- </section> -->
<!-- ================ contact section end ================= -->

</div>