<div>
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Products</h3>
    </div>
    <!-- bradcam_area_end -->  
    <!-- service_area_start -->
   <div class="service_area">
    <div class="container">
        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="section_title3 padding_plus text-center mb-90">
                    <h3>products</h3>
                </div>
            </div>
        </div> -->
        <div class="white_bg_pos">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">
                                            <img src="http://menahairdesign.com/category_image/31_sample_aveda.jpg" alt="">
                                    </div>
                                    <span>Aveda</span>
                                </div>
                                <a href=""><p>More</p></a>
                            </div>
                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">
                                            <img src="http://menahairdesign.com/category_image/16_sample_wella-Care.jpg" alt="">
                                    </div>
                                    <span>Wella</span>
                                </div>
                                <a href=""><p>More</p></a>
                            </div>
                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">
                                            <img src="http://menahairdesign.com/category_image/46_sample_sebastian.jpg" alt="">
                                    </div>
                                    <span>Sebastian</span>
                                </div>
                                <a href=""><p>More</p></a>
                            </div>
                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">
                                            <img src="http://menahairdesign.com/category_image/48_sample_8.jpg" alt="">
                                    </div>
                                    <span>Nioxin</span>
                                </div>
                                <a href=""><p>More</p></a>
                            </div>
                        </div>
                        
                    </div>
        </div>
    </div>
</div>
<!-- service_area_end -->