<div>
       <!-- slider_area_start -->
       <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <!-- <img src="img/banner/Mena's Hair Design_text.png" alt="">
                            <h3>Best Mena's Hair Design in <br>
                                your Town</h3>
                            <p>Professional Care</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <!-- gallery_area_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title2 text-center mb-90">
                        <i class="flaticon-scissors"></i>
                        <h3>Our Gallery</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="gallery_active owl-carousel">
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/8_sample_D_T.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/8_sample_D_T.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/12_sample_1.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/12_sample_1.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/3_sample_Picture_067.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/3_sample_Picture_067.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/2_sample_h-k-1.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/2_sample_h-k-1.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/18_sample_Perm_color.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/18_sample_Perm_color.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="http://menahairdesign.com/home_gallery/20_sample_HWFoil.jpg" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="http://menahairdesign.com/home_gallery/20_sample_HWFoil.jpg">
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery_area_end -->

    <!-- video_area_start -->
    <div class="video_area">
        <div class="container-fluid p-0">
            <div class="row align-items-center no-gutters">
                <div class="col-xl-6 col-lg-6">
                    <div class="video_info">
                        <div class="about_info">
                            <div class="section_title mb-20px">
                                <span>How we Work</span>
                                <h3>Watch the Video <br>
                                    How we Work?</h3>
                            </div>
                            <p>Inspires employees and organizations to support causes they care <br>
                                about. We do this to bring more resources to the nonprofits that are <br>
                                changing our world.</p>
                            <a href="#" class="boxed-btn3">book now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="video_thumb">
                        <div class="video_thumb_inner">
                            <img src="img/gallery/video.png" alt="">
                            <a href="https://www.youtube.com/watch?v=I4NcwG-zusE" class="popup-video">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video_area_end -->

    <!-- cutter_muster_start -->
    <div class="cutter_muster">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title2 text-center mb-90">
                                <i class="flaticon-scissors"></i>
                                <h3>Our Cutter Master</h3>
                            </div>
                        </div>
                    </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_master">
                        <div class="thumb">
                            <img src="http://menahairdesign.com/editor_upload/82_Picture%20302.jpg" alt="">
                            <div class="social_link">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>Mena's</h3>
                            <p>Hair Design</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_master">
                        <div class="thumb">
                            <h3>Where we promote healthy vibrant looking hair. We specialize in all types of hair
                                Blow drying,wraps,roller sets ,straw set ,molding & weave
                                Specializing in coloring, highlights, cuts, relaxers..
                                We also specializing in keratin Treatment Formaldehyde & Aldehyde-free
                                Hair is your most important accessory...</h3>
                            <!-- <img src="img/team/2.png" alt=""> -->
                            <div class="social_link">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <a href="about.html"><p>Read More</p></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="single_master">
                        <div class="thumb">
                            <img src="img/team/3.png" alt="">
                            <div class="social_link">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>Luka Luka</h3>
                            <p>Mens Cut</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="single_master">
                        <div class="thumb">
                            <img src="img/team/4.png" alt="">
                            <div class="social_link">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>Rona Dana</h3>
                            <p>Ladies Cut</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- cutter_muster_end -->
</div>